$box-shadow-border: 0 0 0 calc(1px / var(--scale-x, 1)) rgba(63, 63, 68, 0.05);
$box-shadow-common: 0 1px calc(3px / var(--scale-x, 1)) 0 rgba(34, 33, 81, 0.15);
$box-shadow: $box-shadow-border, $box-shadow-common;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  @apply cursor-pointer;
  @apply touch-manipulation origin-top-left;
  transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0)
    scaleX(var(--scale-x, 1)) scaleY(var(--scale-y, 1));

  &.fadeIn {
    animation: fadeIn 500ms ease;
  }
}

.card {
  @apply relative flex flex-col w-full justify-center items-center h-fit p-2 mb-1;
  @apply bg-white shadow-sm outline-none;
  @apply list-none text-gray-400 text-base;
  @apply origin-center transition-shadow;
  border-radius: calc(4px / var(--scale-x, 1));

  -webkit-tap-highlight-color: transparent;

  transform: scale(var(--scale, 1));
  @apply focus-visible:shadow-sm focus-visible:shadow-cyan-600;
  @apply hover:bg-slate-50;

  .title {
    @apply text-left w-full p-1 text-black text-sm;
  }
  .details {
    @apply w-full flex flex-row justify-between items-center;

    .label {
      @apply bg-lime-500 rounded-md px-4;
      @apply text-white text-xs h-fit;
    }
    .priority {
      @apply text-xs ml-1 mr-auto;
    }
    .assignTo {
      @apply text-xs;
    }
  }
}
